{{extend 'kurentolayout.html'}}
{{block head}}
<script src="{{=URL('static','js/multi.js')}}"></script>
{{end}}
<div class="col-md-3">
    <h3>
        Camera management
    </h3>
    <div style="border-style:solid;border-width: 1px;border-color:#ddd;padding:5px 15px;">
        <h4>Transition</h4>
        <form action="" style="margin-left:20px;">
          <input type="radio" name="gender" value="Manual" checked disabled> Manual<br>
          <input type="radio" name="gender" value="Carousel" disabled> Carousel<br>
          <input type="radio" name="gender" value="Automatic" disabled> Automatic<br>
        </form>
        <h4>Recording</h4>
        <div id="rec_controls" style="margin-left:20px;">
            <button onclick="record()" id="free_rec" type="button" style="width:200px;margin: auto;" disabled>Record</button>
            <br/><br/>
            <div id="time_rec">
            Record 
            <input type="text" name="rtime" value="10" style="width:30px;" disabled>
            minutes. 
            <button type="button" style="width:60px;" disabled>Rec</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div id='live_view' class="col-md-11">
        <h4>
        </h4>
        <canvas id="mycanvas" width="100%" height="110%" style="position:absolute">Your browser does not support the HTML5 canvas tag.</canvas>
        <input type="text" id="videourl" value="" hidden>
        <video id="video" autoplay style="width:100%;height:75%" poster="{{=URL('static','images/webrtc.png')}}"></video>
    </div>
    <div id="carousel" class="col-md-11" style="overflow-x:auto;overflow-y:hidden;">
        {{cameras=db().select(db.camera.ALL)}}
        {{ncam=len(cameras) if len(cameras)<10 else 9}}
        <div style="width:{{=34*ncam}}%;">
            {{for cid in range(1,ncam+1):}}
            <div id="cam{{=cid}}" style="width:{{=90/ncam}}%;margin-right:10px;display:inline-block;" onclick="changeCam(c{{=cid}})">
                <span><br/></span>
                <video id="video{{=cid}}" autoplay style="width:100%" poster="{{=URL('static','images/webrtc.png')}}"></video>
            </div>
            {{pass}}
        </div>
    </div>
</div>
<div class="col-md-3">
    <h3 style="text-align: center;">
        Last activity
    </h3>
    <ul id="activity_log" style="border-style:solid;border-color:#000000;height:500px;padding-top:20px;overflow-y:auto;background:#ddd">
    </ul>
</div>
{{block page_js}}
<script type="text/javascript">
	{{for c in range(1,ncam+1):}}
	var c{{=c}};
	{{pass}}
	var currentC;

	window.onload = function() {
		{{for cid in range(1,ncam+1):}}
		{{c=db.camera[cid]}}
		c{{=cid}} = new camera('{{=c.name}}','{{=c.c_zone}}','video{{=cid}}','{{=cid}}');
		c{{=cid}}.ws.onopen = function(){start(c{{=cid}})};
		document.getElementById('cam{{=cid}}').childNodes[1].innerHTML=c{{=cid}}.name;
		{{pass}}
		{{c=request.args(0) or '1'}}
		{{if int(c)>ncam:}}
		var name = "Camera {{=c}} (Not connected)";
		{{else:}}
		var name = c{{=c}}.name+' - '+c{{=c}}.zone;
		currentC = c{{=c}};
		updateCam();
		{{pass}}
		document.getElementById('live_view').childNodes[1].innerHTML=name;
	}

	window.onbeforeunload = function() {
		{{for cid in range(1,ncam+1):}}
		c{{=cid}}.close();
		{{pass}}
	}

	function updateCam() {
		var destination=document.getElementById('video');
		if(currentC.stream)
			destination.src = document.getElementById(currentC.id).src;
		else{
			destination.src = "";
			showSpinner(destination);
			setTimeout(updateCam, 500);
		}
	}

	//setTimeout(connect, 2000);

	//setTimeout(updateCam, 2100);
	function record(){
		var c=document.getElementById("mycanvas");
		var ctx=c.getContext("2d");
		if(document.getElementById("free_rec").textContent=="Record"){
			//ctx.lineWidth="4";
			//ctx.strokeStyle="green";
			//ctx.rect(60,80,100,150);
			//ctx.stroke();
			ctx.fillStyle="red";
			ctx.arc(30,30,10,0,2*Math.PI);
			ctx.fill();
			document.getElementById("free_rec").textContent="Stop";
		}else{
			ctx.clearRect(0, 0, c.width, c.height);
			document.getElementById("free_rec").textContent="Record";
		}
	}

	function changeCam(sender){
		var destination=document.getElementById('live_view');
		destination.childNodes[1].innerHTML=sender.name+' - '+sender.zone;
		//destination.childNodes[7].src=sender.container.src;
		currentC = sender;
		updateCam();
	}

	var lastId = '2017-01-01-00-00-00';
	function askEvent(){
		$.ajax({
			url: "https://" + location.host + "{{=URL(c='context',f='getNotifications')}}/" + lastId,
			success: function (data) {
				//console.log(data);
				var alerts = data.split(";");
				lastId = alerts[0]
				for(i=1;i<alerts.length;i++){
					var values = alerts[i].split(",");
					var color = "000";
					switch(values[2]) {
						case 'critical':
						case 'high':
							color = "c00";
							break;
						case 'medium':
							color = "ff0";
							break;
						default:
							color = "181";
					}
					//var element = '<li style="color:#'+color+';">'+values[0]+' ('+values[1]+"@"+values[2]+") - "+values[3].replace("T"," ").replace(".00Z"," ")+"</li>";
					var element = '<li style="color:#'+color+';">'+values[0]+' ('+values[1]+") - "+values[3].replace("T"," ").replace(".00Z"," ")+"</li>";
					$("#activity_log").prepend(element);
				}
			}
		});
		if($("#activity_log > li").length>25)
			$("#activity_log").children().last().remove();
	}
	setInterval(askEvent, 3000);
</script>
{{end page_js}}
